autostart
BetterDiscord
brightness_controller
calibre
coc
Code
configstore
dconf
discord
enchant
eog
evolution
fish
fontconfig
font-manager
geary
gedit
gnome-boxes
gnome-control-center
gnome-initial-setup-done
gnome-session
goa-1.0
Google
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
htop
i3
ibus
libfm
libvirt
light
mimeapps.list
MongoDB Compass
mozc
nautilus
neofetch
nextjs-nodejs
nitrogen
pcmanfm
pop-shell
privateinternetaccess
pulse
qBittorrent
QtProject.conf
remmina
Slack
s-tui
totem
touchegg
user-dirs.dirs
user-dirs.locale
vlc
vscode-sqltools
wal
xfce4
balena-etcher-electron
